#top-bar {
	background-color: #ffa91f;
	font-size: 1.3rem;;
}

/* carousel */
.carousel-item-prev, 
.carousel-item-next, 
.carousel-item.active {
	transition: transform 1.2s ease;
}

#below-carousel-top-text {
	border-bottom: .2rem solid blue;
}

.back-img {
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	padding: 20vh 0 20vh 0;
}

.fitness-back {
	background-image: url(../media/fitness.png);
}

.europe-back {
	background-image: url(../media/europe.png);
}