body {
	overflow-x: hidden;
	font-family: 'Verdana', sans-serif;
	color: #7CB8FF;
}

#top-bar {
	background-color: #C622E6;
}

#navbar-logo {
	width: 5rem;
	height: auto;
}

.navbar {
	font-size: 1.2rem;
	font-family: Georgia, serif;
}

.nav-link {
	color: dimgray!important;
}

.nav-link.active, .nav-link:hover {
	color: blue!important;
}

span {
	color:blue;
}