body {
	overflow-x: hidden;
	font-size: 1.2rem;
	font-family: Georgia, serif !important;
	color: darkgray;
}

#top-bar {
	background-color: #ffa91f;
	font-size: 1.3rem;;
}

#navbar-logo {
	width: 5rem;
	height: auto;
}

.nav-link {
	color: darkgray;!important;
}

.nav-link.active {
	color: blue!important;
}

.nav-link:hover {
	color: #ffa91f!important;
}


span {
	color:blue;
}

.carousel-item-prev, 
.carousel-item-next, 
.carousel-item.active {
	transition: transform 1.2s ease;
}

#below-carousel-top-text {
	border-bottom: .2rem solid blue;
}

.no-padding{
  padding: 0% !important;
}

.no-margins{
  margin: 0% !important;
}

.nav-item {
	border-bottom: .2rem solid black;
	margin: .2rem;
}

.nav-link {
	padding: 0% !important;
	margin: .2rem;
}

.navbar {
	font-size: 1.4rem;
}