body {
	overflow-x: hidden;
	font-size: 1.2rem;
	font-family: Georgia, serif !important;
	color: darkgray;
	background-color: lightgreen !important;
}

#top-bar {
	background-color: #ffa91f;
	font-size: 1.3rem;;
}

/* carousel */
.carousel-item-prev, 
.carousel-item-next, 
.carousel-item.active {
	transition: transform 1.2s ease;
}

#below-carousel-top-text {
	border-bottom: .2rem solid blue;
}

#back-img {
	background-image: url('../media/fitness.png');
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	height: 50vh;
	margin: 0rem 0rem;
}

.hobby-card {
	background-color: white;
}

.back-img-content {
	background-color: white;
}