.row, .colX, .container {
    padding: lrem;
    border: 2px solid black;
}

.row-1 {
    font-family: "Times New Roman", Times, serif;
    background-color: red;
}
.row-2 {
    /*font-family: "Ariel", Ariel, serif;
    background-color: pink; */
}